In [27]:
#Import Packages
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
#READ CSV FILE & EXPLORE DATA
Course_Completion = pd.read_csv('course_completion_data_1200.csv')
Course_Completion.head()

,CourseID,StudentID,Difficulty_Level,Module_Length (minutes),Student_Age,Student_Education_Level,Completion_Status
0,103,1001,Medium,114,47,High School,Completed
1,105,1002,Medium,66,34,High School,Incomplete
2,103,1003,Hard,138,25,Undergraduate,Incomplete
3,102,1004,Easy,107,20,Undergraduate,Completed
4,104,1005,Easy,72,31,High School,Completed

In [31]:
# Clean Completion_Status, convert to 0/1, and show completion rate by Difficulty
Course_Completion['Completion_Status'] = (
    Course_Completion['Completion_Status']
    .astype(str)
    .str.strip()           # remove surrounding whitespace
    .str.strip("'\"")  # remove single or double quotes
)

# Hot Encoding for Completed/Incomplete
Course_Completion['Completion_Status'] = Course_Completion['Completion_Status'].map({'Completed': 1, 'Incomplete': 0})

# Completion rate by Difficulty
completion_by_diff = (
    Course_Completion.groupby('Difficulty_Level')['Completion_Status']
    .agg(['mean', 'count'])
    .rename(columns={'mean': 'completion_rate'})
)
completion_by_diff['completion_rate'] = completion_by_diff['completion_rate'].round(3)

completion_by_diff

                  completion_rate  count
Difficulty_Level
Easy                          NaN      0
Hard                          NaN      0
Medium                        NaN      0

In [32]:
# after mapping to 0/1
Course_Completion.groupby('Difficulty_Level')['Completion_Status'].agg(['mean','count']).rename(columns={'mean':'completion_rate'})

                  completion_rate  count
Difficulty_Level
Easy                          NaN      0
Hard                          NaN      0
Medium                        NaN      0